<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoK Contribution</title>
    <link rel="icon" type="image/png" sizes="96x96" href="https://www.leagueofkingdoms.com/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.css" integrity="sha512-YdYyWQf8AS4WSB0WWdc3FbQ3Ypdm0QCWD2k4hgfqbQbRCJBEgX0iAegkl2S1Evma5ImaVXLBeUkIlP6hQ1eYKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: url("/assets/img/field.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;

            .col-md-10.offset-1 .card.mt-4 {
                background-color: rgba(240, 248, 255, 0.65);
            }
            .bg-t-50 {
                background-color: rgba(240, 248, 255, 0.5);
            }
        }
    </style>

</head>
<body>
    <div class="container pb-4">
        <div class="row mb-5">
            <div class="d-flex">
                <a href="https://www.leagueofkingdoms.com">
                    <img src="/assets/img/logo.png" width="20%" alt="League of Kingdoms Logo">
                </a>
            </div>
        </div>
        <div class="col-md-10 offset-1">
            <div class="card mt-4">
                <form action="/get_contribution" method="get" id="getcontribution-form">
                    <div class="card-header text-center">
                        Find your contribution
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto form-group">
                                <label for="land_id" >Land ID <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="land_id" placeholder="ID de la Tierra" name="land_id">
                            </div>
                            <div class="col-auto form-group">
                                <label for="from" >From <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="from" placeholder="Desde" name="from">
                            </div>
                            <div class="col-auto form-group">
                                <label for="to" >To <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="to" placeholder="Hasta" name="to">
                            </div>
                            <div class="col-12 mt-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="adjacent_lands" name="adjacent_lands" >
                                    <label class="form-check-label" for="adjacent_lands">
                                        Add adjacent lands data
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <button id="form_submit" type="submit" class="btn btn-primary mb-3">Check Contribution</button>
                        <button id="form_spinner" class="btn btn-primary mb-3 d-none" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Fetching data...
                        </button>
                    </div>
                    <div class="card-footer text-center d-none" id="kingdom_select">
                        <div class="row">
                            <div class="col-auto form-group mt-4 mb-4 text-center">
                                <label for="kingdom_name" >Kingdom Name</label>
                                <select type="text" class="form-control" id="kingdom_name" placeholder="Kingdom Name" name="kingdom_name">
                                    <option value="">No kingdom name selected</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-5">
            <h2></h2>
            <div id="lands" class="contanier-fluid col-md-10 offset-1 d-none">
                <div class="row d-flex align-items-stretch">
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="1">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="2">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="3">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch">
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="4">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="5">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="6">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row d-flex align-items-stretch">
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="7">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="8">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-2 mb-2">
                        <div class="card h-100" id="9">
                            <div class="card-body d-flex">
                                <img src="/assets/img/land.png" class="mr-3" alt="LoK land Logo">
                                <div>
                                    <h5 class="card-title"><strong class="card-title">title</strong></h5>
                                    <p class="card-text"><span>444444</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="owners" class="row mt-3 mb-3">
                <div class="table-responsive">
                </div>
            </div>
        </div>
    </div>
    <footer class="footer mt-auto py-2 fixed-bottom bg-t-50">
        <div class="container text-dark text-center">
            <span class="text-dark font-weight-bold">Made with &#129392;. Fork me or/and ⭐ me on &#128073; <a href="https://github.com/AmbyW/LoKContribution" class="text-danger">GitHub</a> </span>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" defer integrity="sha512-YUkaLm+KJ5lQXDBdqBqk7EVhJAdxRnVdT2vtCzwPHSweCzyMgYV/tgGF4/dCyqtCC2eCphz0lRQgatGVdfR0ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.11/jsrender.min.js" defer integrity="sha512-bKlNlbTH3duwZ28zoqEhXui/yuaPuQVci6OAVu0zh2WfYbEKD39HszVR8byP4/L4YyBo3b5CGIY+4ldVN93uCg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" defer integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" defer integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.min.js" integrity="sha512-XZEy8UQ9rngkxQVugAdOuBRDmJ5N4vCuNXCh8KlniZgDKTvf7zl75QBtaVG1lEhMFe2a2DuA22nZYY+qsI2/xA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/localization/messages_es.min.js" integrity="sha512-Ou4GV0BYVfilQlKiSHUNrsoL1nznkcZ0ljccGeWYSaK2CaVzof2XaZ5VEm5/yE/2hkzjxZngQHVwNUiIRE8yLw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js" integrity="sha512-RCgrAvvoLpP7KVgTkTctrUdv7C6t7Un3p1iaoPr1++3pybCyCsCZZN7QEHMZTcJTmcJ7jzexTO+eFpHk4OCFAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/assets/js/lokContribution.js"></script>
</body>
</html>